body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.myBtn {
  background-color: #9C27B0;
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 180px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  overflow: auto;
  background-color: rgb(0 ,0 ,0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  max-width: 430px;
  width: 100%;
  animation: animatetop 0.5s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:50%; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:50%; opacity:1}
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
}
